
.mobile-box {
   width: 500px;
   height: 300px;
   text-align: center;
   position:fixed;
   top: 50%;
   left: 50%;
   margin-top: -9em; 
   margin-left: -15em;
   padding: 20px;
   -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
   box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
}
.register-box{
   width: 600px;
   position: absolute;
   padding: 20px;
   margin-top: 100px;
   margin-left: 300px;
   margin-bottom: 50px;
   -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
   box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
   background-color: whitesmoke;
}
.Nav{
   position:absolute;
   left:0;
   right:0;
   opacity: 0.6;
}

.particle{
  background: linear-gradient(to right, #c94b4b , #4b134f);
}

.patient{
  margin-top: 15%;
  margin-left: 13%;
  text-align: left;
  position: absolute;
  
  background-color: white;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
}
.in{
 
 padding: 20px;
 width: 800px;
 height: max-content;
 
}
.inlogin{
  width: 500px;
  height: max-content;
  text-align: center;
  position:fixed;
  top: 50%;
  left: 50%;
  margin-top: -9em; 
  margin-left: -15em;
  padding: 20px;
  -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.92) !important;
 background-color: whitesmoke;
}
.nd{
   background-color: rgb(157, 167, 167);
}

.exampleDiv {
  float: right;
}

.fontdesign{
   color: black;
}

.text{
   margin-right: 75px;
   word-spacing: 10px;
   
}

.register_opacity{
   opacity: 1;
}
.timeline{
 padding: 40px;
}